<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LionRiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <LionRiver.Properties.Settings>
      <setting name="Port1" serializeAs="String">
        <value />
      </setting>
      <setting name="Port2" serializeAs="String">
        <value />
      </setting>
      <setting name="Height" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ColumnWidth1" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RowWidth1" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MagVar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GPSoffsetToBow" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MapScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MapCenter" serializeAs="String">
        <value>0.00000,0.00000</value>
      </setting>
      <setting name="RowWidth2" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="WptProximity" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="Layer1Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="WaypointDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="PolarDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="GribDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Port3" serializeAs="String">
        <value />
      </setting>
      <setting name="Port4" serializeAs="String">
        <value />
      </setting>
      <setting name="PolarFile" serializeAs="String">
        <value />
      </setting>
      <setting name="RteWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RteWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MrkWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MrkWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RteWindowVisible" serializeAs="String">
        <value>Hidden</value>
      </setting>
      <setting name="MrkWindowVisible" serializeAs="String">
        <value>Hidden</value>
      </setting>
      <setting name="Layer2Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="Layer1Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Layer2Name" serializeAs="String">
        <value />
      </setting>
      <setting name="LayerWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LayerWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrackResolution" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Layer1Opacity" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="Layer2Opacity" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="SPDminIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPDminVal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPDmaxIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SPDmaxVal" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Layer1Check" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Layer2Check" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LaylinesCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TargetBearingsCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CourseWindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CourseWindowTop" serializeAs="String">
        <value>0</value>
      </setting>
    </LionRiver.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>